{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous"> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css ' %}">
    <!-- <style>
      *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
        .container {
          width: 300px;
          margin: 0 auto;
          padding: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          
        }
        .container h2 {
          text-align: center;
        }
        .container label, .container input {
          display: block;
          margin-bottom: 10px;
        }
        .container input[type="submit"] {
          width: 100%;
          padding: 10px;
          background-color: #4CAF50;
          color: #fff;
          border: none;
          cursor: pointer;
        }
        .container input[type="submit"]:hover {
          background-color: #45a049;
        }
      </style> -->
</head>
<body>
    
  <!-- <div class="body_bg" style="height: 800px; padding-top: 100px; ">
       <div class="container"  >
          <h2>EMPLOYEE DETAILS</h2>
          <form method="post">
            {% csrf_token %}
            <label for="username">first_name:</label>
            <input type="text"  name="name" value="{{emp.first_name}}" >

            <label for="username">Second name:</label>
            <input type="text"  name="name" value="{{emp.last_name}}" >

            <label for="">Photo:</label>
            <input type="file" accept="images/*" name="image">
      
            <label for="">Email:</label>
            <input type="email"  name="email" value="{{emp.email}}">
      
            
            <label for="">phone number:</label>
            <input type="number"  name="number" value="{{emp.phone_number}}" >
      
            <label for="">education:</label>
            <input type="text"  name="education" value="{{emp.education}}" >
      
            <label for="">department:</label>
            <input type="text"  name="department" value="{{emp.department}}" >
      
            <label for=""> date:</label>
            <input type="date"  name="date" value="{{emp.date_of_birth}}" >

            <!-- <label for=""> gender:</label>
            <input type="text"  placeholder="{{emp.gender}}" name="date" value="" > -->

            <!-- <select class="browser-default custom-select" name="course">
              <option selected>{{emp.gender}}</option>
              {% for i in gnd %}
              <option value="{{i.id}}">{{i.section}}</option>
              {% endfor %}
              
            </select>
            <br>
            <br><br>
      
            <input type="submit" value="Submit">
          </form>
        </div>
  </div> --> 

  <div class="body_bg"  style="height: 1100px; ">
    <h1 style="text-align: center; padding-top: 20px; font-family: 'Courier New', Courier, monospace; ">Edit your profile</h1>
    
    <div class="row d-flex justify-content-center" style="margin-top: 40px;">
        <div class="col-md-8 col-lg-6">
        <div class="card shadow-0 border" style="background-color: #f0f2f5;">
            <div class="card-body p-4">
            <div class="form-outline mb-4">
                <form  method="post"  enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input type="text" id="addANote" class="form-control" placeholder="first_name" value="{{emp.first_name}}"   name="f_name"/>

                    <input type="text" id="addANote" class="form-control mt-3" placeholder="last_name" value="{{emp.last_name}}"  name="l_name"/>
                    <input type="text" id="addANote" class="form-control mt-3" placeholder="email" value="{{emp.email}}"  name="email"/>
                    <input type="text" id="addANote" class="form-control mt-3" placeholder="phone_number" value="{{emp.phone_number}}"  name="number"/>
                    <input type="text" id="addANote" class="form-control mt-3" placeholder="experience" value="{{emp.experience}}"  name="exp"/>
                    <input type="text" id="addANote" class="form-control mt-3" placeholder="department" value="{{emp.department}}" name="department"/>
                    <input type="file" accept="image/*"  class="form-control mt-3" placeholder="image"  name="image10"/>
                    
                    <input type="date" id="addANote" class="form-control mt-3" placeholder="DOP"  name="dop"/>
                    
                    <select class="browser-default custom-select form-control mt-3" name="course">
                      <option selected>{{emp.gender}}</option>
                      {% for i in gnd %}
                      <option value="{{i.id}}">{{i.section}}</option>
                      {% endfor %}
                     
                      
                    </select>

                    <select class="browser-default custom-select form-control mt-3" name="course">
                      <option selected>{{emp.marital_status}}</option>
                      {% for i in marital %}
                      <option value="{{i.id}}">{{i.category}}</option>
                      {% endfor %}
                     
                      
                    </select>

                    <input type="submit" class="btn mt-4 " style="margin-left: 340px; font-size: larger; font-weight: bolder;" value="submit">
                    <!-- <label class="form-label" for="addANote"> Experience</label> -->
                </form>
            </div>
            {% for s in skl %}          
            <div class="card mb-4">
                <div class="card-body">
                <!-- <p>Type your note, and hit enter to add it</p> -->
                <li> {{s.skills}}</li>         
                </div>
            </div>
            {% endfor %}  
            </div>
        </div>
        </div>
    </div>
</div>
</body>
</html>